body{
    width: 100%;
}
img {
    height: 500px; /* Réglez la hauteur souhaitée */
    width: 382px; /* Laissez la largeur s'adapter automatiquement pour conserver les proportions de l'image */
    border-radius: 5%;
  }