<app-navbar></app-navbar>
<body>
    <div style="display: flex;">
        <mat-card style="flex-basis: 30%; align-items: center; background-color: lightgray;">
          <img src="assets/steven.jpg" alt="Photo">
        </mat-card>
        <mat-card style="flex-basis: 70%; padding: 40px;background-color: lightgray;">
          <h1>RUBAT DU MERAC Steven</h1>
          <h2>Développeur Full-Stack</h2>
          <hr style="border: none; border-top: 2px solid #2196F3; margin: 20px 0;">
          <p>Je suis un développeur passionné par la création de solutions technologiques pour résoudre des problèmes. J'ai une expérience de plus de 5 ans dans le développement de logiciels et je suis spécialisé dans les technologies Web modernes telles que Angular, React et Vue. Je suis également à l'aise avec les technologies back-end telles que Java, Node.js et Python.</p>
        </mat-card>
    </div>
      
</body>