<div class="realisations-container">
    <h2 class="realisations-title">Mes réalisations</h2>
  
    <div class="realisation-card">
      <img src="assets/logo_geosavior.png" alt="GeoSavior" class="realisation-image" />
      <div class="realisation-content">
        <h3>Geo Savior</h3>
        <p>Application mobile pour signaler des animaux marins échoués sur la plage et accélérer l'intervention</p>
        <button class="btn bg-secondary btn-lg m-1 p-2" [routerLink]="['/realisation', 'geosavior']" >Voir le projet</button>
      </div>
    </div>
  
    <div class="realisation-card">
      <img src="assets/Logo-CEE.png" alt="Babylone" class="realisation-image" />
      <div class="realisation-content">
        <h3>Babylone</h3>
        <p>Application web permettant de constituer des dossiers d'économie d'énergie pour un obligé.</p>
        <button class="btn bg-secondary btn-lg m-1 p-2" [routerLink]="['/realisation', 'babylone']" >Voir le projet</button>
      </div>
    </div>
  
    <div class="realisation-card">
      <img src="assets/transurvey.png" alt="Transurvey" class="realisation-image" />
      <div class="realisation-content">
        <h3>Transurvey</h3>
        <p>Application web permettant la création et la diffusion des sondages personnalisés</p>
        <button class="btn bg-secondary btn-lg m-1 p-2" [routerLink]="['/realisation', 'transurvey']" >Voir le projet</button>
      </div>
    </div>
  
    <div class="realisation-card">
      <img src="assets/simple.png" alt="Simple" class="realisation-image" />
      <div class="realisation-content">
        <h3>Simple</h3>
        <p>Application client lourd facillant la facturation de l'entreprise Etxe Logistika.a</p>
        <button class="btn bg-secondary btn-lg m-1 p-2" [routerLink]="['/realisation', 'simple']" >Voir le projet</button>
      </div>
    </div>
  
    <div class="realisation-card">
      <img src="assets/Logo-CEE.png" alt="Extends" class="realisation-image" />
      <div class="realisation-content">
        <h3>Extends</h3>
        <p>Reprise d'une application et de ces données dans une application existante</p>
        <button class="btn bg-secondary btn-lg m-1 p-2" [routerLink]="['/realisation', 'extends']" >Voir le projet</button>
      </div>
    </div>
  </div>
  