<div *ngIf="this.parcours == 'alternance' || this.parcours == 'stage' " class="d-flex justify-content-center">
    <div class="timeline-content shadow rounded p-4">
        <h5 class="fw-bold">Septembre 2023 -> Août 2025 - Alternance - Développeur Full Stack</h5>
        <p class="text-muted mb-1">CGI - Bordeaux</p>
        <a href="https://www.cgi.com/france/fr-fr">
            <img src="assets/cgi.png" href="https://www.cgi.com/france/fr-fr" style="width: 100px;">
        </a>
        <h4>L'Entreprise :</h4>
        <p>CGI (pour Conseillers en gestion et informatique) est une entreprise canadienne de services-conseils en technologie de l’information (TI), d’intégration de systèmes, d’impartition et de solutions. Son siège est à Montréal, au Québec.</p>
        
        <h4>Détails :</h4>
        <p>Lors de mon stage, j'ai intégré une équipe en charge d'une TMA pour un grand compte de l'énergie, j'étais en charge du développement d'évolution en Java/Angular.<br> 
         À la fin de mon stage, j'ai poursuivi sur une alternance au sein de la même équipe pour continuer le développement d'évolutions et débuter la correction d'anomalies ainsi que les différents supports BDD dont les utilisateurs peuvent avoir besoin.</p>
    </div>
</div>

<div *ngIf="this.parcours == 'master'" class="d-flex justify-content-center">
    <div class="timeline-content shadow rounded p-4">
        <h5 class="fw-bold">Septembre 2020 -> Aout 2025 - Étudiant - Mastère Expert en ingénierie du logiciel</h5>
        <p class="text-muted mb-1">ESIEA - Dax</p><a href="https://www.esiea.fr/"><img src="assets/esiea.png" style="width: 100px;"></a>
        <h4>La formation : </h4>
        <p>Expert en ingénierie du développement d’applications du titre RNCP « Expert en ingénierie du logiciel » n° 35419, code NSF 326 de niveau 7. Elle forme des professionnels qui maîtrisent toutes les étapes de la conception et de la mise en œuvre d’un logiciel, d’un site web et d’une application. <br> 
            La formation repose sur un principe : la pédagogie par la pratique, qui, pour ma part, a très bien fonctionné.</p>
    </div>
</div>

<div *ngIf="this.parcours == 'bac'" class="d-flex justify-content-center">
    <div class="timeline-content shadow rounded p-4">
        <h5 class="fw-bold">Septembre 2016 -> Aout 2019 - Etudiant - Bac STI2D</h5>
        <p class="text-muted mb-1">Lycée de borda - Dax</p><a href="https://lyceedeborda.fr/"><img src="assets/borda.png" style="width: 100px;"></a>
        <h4>La formation : </h4>
        <p>L'établissement prépare les élèves à des diplômes généraux, technologiques, professionnels du BAC Pro au BTS, ainsi qu’à des formations spécifiques, et des formations en apprentissage.</p>
    </div>
</div>

