
<div class="competence-container">
    <div class="competence-row">
      <div class="competence-card" [routerLink]="['/competence', 'angular']">
        <img src="assets/angular.svg" alt="Angular">
        <h4>Angular</h4>
        <div class="stars">
            <span class="star-rating" data-rating="4"></span>
        </div>
        <img src="assets/technique.png" title="technique">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'java']">
        <img src="assets/jee-2.svg" alt="Java">
        <h4>Java</h4>
        <div class="stars">
            <span class="star-rating" data-rating="4"></span>
        </div>
        <img src="assets/technique.png" title="technique">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'adaptabilite']">
        <img src="assets/adaptabilite.png" alt="Adaptabilité">
        <h4>Adaptabilité</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
        </div>
        <img src="assets/humain.png" title="humain">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'sql']">
        <img src="assets/serveur-sql.png" alt="SQL">
        <h4>SQL</h4>
        <div class="stars">
            <span class="star-rating" data-rating="4"></span>
        </div>
        <img src="assets/technique.png" title="technique">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'git']">
        <img src="assets/gite.png" alt="GIT">
        <h4>GIT</h4>
        <div class="stars">
            <span class="star-rating" data-rating="4"></span>
          </div>
          <img src="assets/technique.png" title="technique">
      </div>
    </div>
  
    <div class="competence-row">
      <div class="competence-card" [routerLink]="['/competence', 'deploiement']">
        <img src="assets/deploiement.png" alt="Deploiement">
        <h4>Déploiement</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
        </div>
        <img src="assets/technique.png" title="technique">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'communication']">
        <img src="assets/groupe.png" alt="Communication">
        <h4>Communication</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
          </div>
          <img src="assets/humain.png" title="humain">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'projet']">
        <img src="assets/gestion-de-projet.png" alt="Gestion de projet">
        <h4>Gestion de projet</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
        </div>
        <img src="assets/humain.png" title="humain">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'test']">
        <img src="assets/tester.png" alt="Test">
        <h4>Test</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
        </div>
        <img src="assets/technique.png" title="technique">
      </div>
  
      <div class="competence-card" [routerLink]="['/competence', 'documentation']">
        <img src="assets/documentation.png" alt="Documentation">
        <h4>Documentation</h4>
        <div class="stars">
            <span class="star-rating" data-rating="3"></span>
          </div>
          <img src="assets/humain.png" title="humain">
      </div>
    </div>
  </div>
  