<mat-toolbar class="normal-nav bg-primary">
  <button mat-button routerLink="/" class="text-white">Accueil</button>
  <button mat-button routerLink="/competence" class="text-white">Compétence</button>
  <button mat-button routerLink="/realisation" class="text-white">Réalisation</button>
  <span class="fill-space"></span>
  <span class="site-title">PortFolio</span>
</mat-toolbar>


<mat-toolbar class="burger-menu-button bg-primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">Accueil</button>
  <button mat-menu-item routerLink="/competence">Compétence</button>
  <button mat-menu-item routerLink="/realisation">Réalisation</button>
</mat-menu>
