.normal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
}


.burger-menu-button {
  display: none;
}


.site-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.fill-space {
  flex-grow: 1;
}


@media screen and (max-width: 600px) {
  .normal-nav {
    display: none;
  }

  .burger-menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
  }

  
  .mat-menu-panel {
    display: flex;
    position: absolute; 
    top: 50px; 
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10; 
  }
}

.mat-menu-panel.open {
  display: block;
}

.linkedin-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.linkedin-icon:hover {
  transform: scale(1.1);
}

.social-link {
  display: flex;
  align-items: center;
  margin-right: 10px;
}